<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kuaikuaidai.kkdaireport">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/kkdai_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/login"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MenuActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/menu"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activity.report.WebTrafficActivity"
            android:label="@string/web_traffic"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".activity.report.AppTrafficActivity"
            android:label="@string/app_traffic"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".activity.report.RtiNumActivity"
            android:label="@string/regist_to_invest_numbers"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".activity.report.RtiConversionRatioActivity"
            android:label="@string/regist_to_invest_conversion_ratio"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".activity.report.CapitalDataCompareActivity"
            android:label="@string/capital_state"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.report.RemainDataActivity"
            android:label="@string/remain_state"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".activity.report.InvestAgainNumbersActivity"
            android:label="@string/invest_again_numbers"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".activity.report.InvestAgainRatioActivity"
            android:label="@string/invest_again_ratio"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".activity.report.NewInvestNumbersActivity"
            android:label="@string/new_invest_numbers"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".activity.report.NewInvestMoneyActivity"
            android:label="@string/new_invest_money"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".activity.report.NewInvestMoneyPerCapitalActivity"
            android:label="@string/new_invest_money_per_capita"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".activity.report.NewOldInvestNumbersActivity"
            android:label="@string/new_old_invest_numbers"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".activity.report.NewOldInvestMoneyActivity"
            android:label="@string/new_old_invest_money"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".activity.report.NewOldInvestMoneyPerCapitalActivity"
            android:label="@string/new_old_invest_money_per_capita"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
        </activity>
        bid_statisticsActivity
        <activity
            android:name=".activity.finance.BidStatisticsActivity"
            android:label="@string/bid_statistics"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.BidDetailActivity"
            android:label="@string/bid_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.FailBidStatisticsActivity"
            android:label="@string/fail_bid_statistics"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.RechargeWithdrawStatisticsActivity"
            android:label="@string/recharge_withdraw_statistics"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.RechargeWithdrawDetailActivity"
            android:label="@string/recharge_withdraw_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.RefundInvestorStatisticsActivity"
            android:label="@string/refund_investor_statistics"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.RefundBorrowerStatisticsActivity"
            android:label="@string/refund_borrower_statistics"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.RefundDetailActivity"
            android:label="@string/refund_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.ManagementFeeStatisticsActivity"
            android:label="@string/management_fee"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.ManagementFeeDetailActivity"
            android:label="@string/management_fee_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.VoucherGrantStatisticsActivity"
            android:label="@string/voucher_grant"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.VoucherGrantDetailActivity"
            android:label="@string/voucher_grant_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.VoucherUseStatisticsActivity"
            android:label="@string/voucher_use"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.VoucherUseDetailActivity"
            android:label="@string/voucher_use_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.CashBackStatisticsActivity"
            android:label="@string/cash_back"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.CashBackDetailActivity"
            android:label="@string/cash_back_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.LoanDetailsActivity"
            android:label="@string/loan_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.ServiceFeeStatisticsActivity"
            android:label="@string/service_fee"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.ServiceFeeDetailActivity"
            android:label="@string/service_fee"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.finance.UserFinancialActivity"
            android:label="@string/user_financial_details"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.kpi.KpiHomeActivity"
            android:label="@string/kpi"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>


    </application>

</manifest>